<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<form class="add-form"  [formGroup]="addclientForm" (ngSubmit)="onSubmit()">    
<div>
    <input matInput placeholder="New Client Name" formControlName="name">
    <button mat-icon-button color="primary" style="cursor: default" type="submit" style="font-size:25px"><i class="fa fa-plus"> </i></button> 
  </div>

  

</form> 

  <mat-nav-list class="max-width">
    <a mat-list-item routerLink="/tiers" *ngFor="let element of dataObj"> {{element.name}} </a>
    
  </mat-nav-list>
  
  
<div>
    <router-outlet></router-outlet>
  </div>
  

